.highlight-text::after {
  background-color: #3c65f5;
  height: 25px;
  position: relative;
  width: 100%;
  left: 0;
  bottom: -6px;
  z-index: -1;
  opacity: 0.1;
}

@media screen and (max-width: 767px) {
  .landing-image {
    width: 90% !important;
  }
}

.landing-image {
  width: 40%;
}
